PORT=4000
JWT_SECRET=change-this-secret
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/tryout_cpns
NODE_ENV=development
PAYMENT_GATEWAY=midtrans
MIDTRANS_SERVER_KEY=your-midtrans-server-key
MIDTRANS_CLIENT_KEY=your-midtrans-client-key
